@attribute [Authorize]

<!--begin::Sidebar-->
<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
    <!--begin::Main-->
    <div class="d-flex flex-column justify-content-between h-100 hover-scroll-overlay-y my-2 d-flex flex-column" id="kt_app_sidebar_main" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_main" data-kt-scroll-offset="5px">
        @if (role == Roles.AdminRole)
        {
            <AdminSidebarMenu IsDarkMood="IsDarkMood" />
        }
        else if (role == Roles.ManagerRole)
        {
            <ManagerSidebarMenu IsDarkMood="IsDarkMood" />
        }
        else if (role == Roles.SupervisorRole)
        {
            <SupervisorSidebarMenu IsDarkMood="IsDarkMood" />
        }
        else if (role == Roles.ProviderRole)
        {
            <ProviderSidebarMenu IsDarkMood="IsDarkMood" />
        }
        <!--begin::Footer-->
        <div class="app-sidebar-project-default app-sidebar-project-minimize text-center flex-column-auto d-flex flex-column justify-content-end"
             id="kt_app_sidebar_footer">
            <!--begin::Title-->
            <h2 class="fw-bold text-gray-800">@languageContainer.Keys["Welcome to"]  Pest Sweepy</h2>
            <!--end::Title-->
            <!--begin::Description-->
            <div class="fw-semibold text-gray-700 fs-7 lh-2 px-7 mb-1">
                @languageContainer.Keys["We provide you with the best quality, according to international standards, for cleaning services, pest extermination, and home and hotel services."]
            </div>
            <!--end::Description-->
            <!--begin::Illustration-->
            <img class="mx-auto h-lg-160px mb-4" src="/images/installApp.png" alt="" height="80" />
            <!--end::Illustration-->
            <div class="text-center mb-lg-5 pb-lg-3">
                <button id="startDownloadButton" @onclick="DownloadAsync" class="btn btn-sm btn-dark">@languageContainer.Keys["Install"]</button>
            </div>
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Main-->
</div>
<!--end::Sidebar-->
@code {
    [Inject] IJSRuntime JSRuntime { get; set; } = default!;

    [Parameter][EditorRequired] public bool IsDarkMood { get; set; }
    [Parameter][EditorRequired] public IEnumerable<Claim> UserClaims { get; set; } = Enumerable.Empty<Claim>();

    private string role = null!;

    protected override void OnParametersSet()
    {
        role = UserClaims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value ?? string.Empty;
    }

    private async Task DownloadAsync() => await JSRuntime.InvokeVoidAsync("Download");

}