@inherits LayoutComponentBase
@attribute [Authorize]

<MudRTLProvider Style="height:100% !important;" RightToLeft="IsRightToLeft">
    <!--begin::App-->
    <div style="height:100% !important;font-family: 'Noto Sans Arabic', sans-serif !important;" class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <MudThemeProvider Theme="MyCustomTheme" @bind-IsDarkMode="IsDarkMode" />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <!--begin::Header-->
            <TopNavigation CurrentCulture="@CurrentCulture" ThemeChnaged="SetThemeModeAsync"/>
            <!--end::Header-->
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!--begin::Sidebar-->
                <MainNavigation IsDarkMood="IsDarkMode" UserClaims="claims" />
                <!--end::Sidebar-->
                <!--begin::Main-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        <!--begin::Content-->
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <!--begin::Content container-->
                            <div id="kt_app_content_container" class="h-100 app-container container-fluid">
                                @Body
                            </div>
                            <!--end::Content container-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Content wrapper-->
                    <!--begin::Footer-->
                    <MainFooter />
                    <!--end::Footer-->
                </div>
                <!--end:::Main-->
                <!--begin::aside-->
                <MainAside />
                <!--end::aside-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::App-->
</MudRTLProvider>

@code {

    [Inject] IJSRuntime JSRuntime { get; set; } = default!;
    [Inject] ILocalStorageService LocalStorage { get; set; } = default!;
    [Inject] AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    private string CurrentCulture = string.Empty;
    private bool IsDarkMode;
    private bool IsRightToLeft = false;
    MudTheme MyCustomTheme = new MudTheme();
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    protected override async Task OnInitializedAsync()
    {
        claims = await GetClaimsPrincipalData();

        foreach (var item in claims)
        {
            Console.WriteLine(item);

        }

        CurrentCulture = await LocalStorage.GetItemAsync<string>("CurrentCulture");

        if (CurrentCulture == "ar-EG")
        {
            IsRightToLeft = true;
            MyCustomTheme = new()
            {
                Typography = new Typography()
                {
                    Default = new Default() { FontFamily = new[] { "Noto Sans Arabic", "Helvetica", "Arial", "sans-serif" } },
                }
            };
        }

        await SetThemeModeAsync();
    }

    private async Task SetThemeModeAsync()
    {
        IsDarkMode = await LocalStorage.GetItemAsync<string>("data-bs-theme") == "dark" ? true : false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("KTThemeModeUser.init");
            await JSRuntime.InvokeVoidAsync("KTThemeMode.init");
            await JSRuntime.InvokeVoidAsync("KTComponents.init");
        }
        catch{}
    }

    protected async Task<IEnumerable<Claim>> GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider
           .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
            return user.Claims;

        return Enumerable.Empty<Claim>();
    }
}