@attribute [Authorize]

<!--begin::Footer-->
<div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
	<!--begin::Copyright-->
	<div class="text-dark order-2 order-md-1">
		<span class="text-muted fw-semibold">2023&copy;</span>
		<a href="/" class="text-gray-800 text-hover-primary">Pest Sweepy</a>
	</div>
	<!--end::Copyright-->
	<!--begin::Menu-->
	<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
		<li class="menu-item">
			<a href="https://www.facebook.com/profile.php?id=100077101497465" target="_blank" class="menu-link px-2">
				<MudIcon Icon="@Icons.Custom.Brands.Facebook" Title="Google" />
			</a>
		</li>
		<li class="menu-item">
			<a href="https://www.instagram.com/p.sweepy12/" target="_blank" class="menu-link px-2">
				<MudIcon Icon="@Icons.Custom.Brands.Instagram" Title="Google" />
			</a>
		</li>
		<li class="menu-item">
			<a href="https://twitter.com/pestsweepy" target="_blank" class="menu-link px-2">
				<MudIcon Icon="@Icons.Custom.Brands.Twitter" Title="Google" />
			</a>
		</li>
	</ul>
	<!--end::Menu-->
</div>
<!--end::Footer-->