@page "/"

<PageTitle>Home</PageTitle>

<div class="h-100 d-flex justify-content-center align-items-center">
    <MudImage Src="/images/Logo.png" Width="300" ObjectFit="ObjectFit.Contain" Class="rounded-lg ma-4" />
</div>
