@inherits BasePage
@attribute [Authorize]

<MudDialog>
    <DialogContent>
        <EditForm Model="changePasswordForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div>
                <div class="mb-1">
                    <div class="fv-row mb-0 fv-plugins-icon-container mb-3">
                        <label for="newpassword" class="form-label fs-6 fw-bold mb-3">@languageContainer.Keys["New Password"]</label>
                        <InputText @bind-Value="@changePasswordForm.NewPassword" type="password" class="form-control form-control-lg form-control-solid " />
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"><ValidationMessage For="() => changePasswordForm.NewPassword" /></div>
                    </div>
                    <div class="fv-row mb-0 fv-plugins-icon-container mb-3">
                        <label for="confirmpassword" class="form-label fs-6 fw-bold mb-3">@languageContainer.Keys["Confirm New Password"]</label>
                        <InputText @bind-Value="@changePasswordForm.ConfirmPassword" type="password" class="form-control form-control-lg form-control-solid" />
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"><ValidationMessage For="() => changePasswordForm.ConfirmPassword" /></div>
                    </div>
                </div>

                <FormButtons IsLoading="isLoading" />
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public string UserId { get; set; } = null!;

    private ChangePasswordDto changePasswordForm = new();

    protected override void OnParametersSet()
    {
        changePasswordForm.UserId = UserId;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        StartProcessing();

        var result = await AddAsync($"Account/ChangePassword", changePasswordForm);

        if (result.isSuccess)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }

        StopProcessing();
    }
}
