<button type="submit" style="height:fit-content" class="btn btn-success @(IsLoading? "disabled" : string.Empty)">
    @if (IsLoading)
    {
        <span class="indicator-label">
            @languageContainer.Keys["Please Wait"]... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
    }
    else
    {
        <span class="indicator-label">
            @languageContainer.Keys["Submit"]
        </span>
    }
</button>

@code {
    [Parameter][EditorRequired] public bool IsLoading { get; set; }
}
