<!--begin::Content-->
<div class="d-flex flex-row-fluid flex-column flex-column-fluid text-center p-3 my-5">
    <!--begin::Logo-->
    <div class="text-center">
        <img src="/images/NoDataToDisply.png" alt="Unauthorize" class="h-150px" />
    </div>
    <!--end::Logo-->
    <!--begin::Logo-->
    <h1 class="fw-bold fs-1qx text-gray-800">
        @languageContainer.Keys["No Records To Display"]
    </h1>
    <!--end::Logo-->
</div>
<!--end::Content-->